<%- include('includes/head') %>

<a href="<%= links.contato %>">ir para contato</a>


<p><%= dados %></p>

<form action="/" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">
    <button type="submit">Enviar</button>
</form>

<%- include('includes/footer') %>
    